@import "tailwindcss";

@theme inline {
  --color-background: var(--theme-background);
  --color-text: var(--theme-text);
  --color-link: var(--theme-link);
}

@layer base {
  /* Design System Theming */
  html {
    --theme-background: hsl(15deg 50% 95%);
    --theme-text: hsl(15deg 5% 5%);
    --theme-link: hsl(15deg 45% 40%);
  }

  html.dark {
    --theme-background: hsl(15deg 35% 5%);
    --theme-text: hsl(15deg 15% 90%);
    --theme-link: hsl(15deg 45% 70%);
  }
}

a {
  @apply text-link hover:underline;
}

/*
 * Formatting for blog markdown
 */

article {
  @apply text-lg;
}

article h1 {
  @apply mb-4 text-4xl;
}

article h2 {
  @apply mt-6 mb-4 text-3xl;
}

article h3 {
  @apply text-2xl;
}

article h4 {
  @apply text-xl;
}

article h5 {
  @apply text-lg;
}

article p {
  @apply mb-4;
}

article p code {
  @apply rounded border-[1px] border-link/40 bg-link/20 px-1;
}

article ol,
article ul {
  @apply my-3 list-outside pl-6;
}

article ol {
  @apply list-decimal;
}

article ul {
  @apply list-disc;
}

article li + li {
  @apply mt-3;
}

article li > p {
  @apply m-0;
}

article li > p + p {
  @apply mt-2;
}

article blockquote {
  @apply m-0 my-4 border-l-4 border-l-link/50 pt-2 pb-1 pl-4;
}

article {
  @apply mb-16;
}

article img {
  @apply my-4;
}

article .caption {
  @apply w-full text-center font-mono text-sm italic text-gray-500;
}

/**
 * Code blocks
 */

.astro-code {
  @apply mt-4 mb-4 rounded p-2 text-sm;
}

/**
 * YouTube embed in Markdown
 */
article .video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  margin-top: 16px;
  margin-bottom: 16px;
}
article .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
