---
import { getCollection } from "astro:content";
import PostList from "../components/blog/PostList.astro";
import Layout from "../layouts/Layout.astro";

const postsUnsorted = await getCollection("blog");
const posts = postsUnsorted.sort(
  (a, b) =>
    new Date(b.data.published).getTime() - new Date(a.data.published).getTime(),
);
---

<Layout title="Blog">
  <main class="flex flex-col gap-4">
    <div>
      <h2 class="text-4xl">Blog</h2>
      <a href="/blog/tags">View all tags</a>
    </div>
    <PostList posts={posts} />
  </main>
</Layout>
