---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Code">
  <main class="flex flex-col gap-4">
    <h2 class="text-4xl">Work</h2>
    <ul class="flex flex-col gap-4">
      <li>
        <strong><a href="https://www.axiom.co/">Axiom</a></strong> is a next-generation
        observability platform at a fraction of the cost of competitors like Splunk
        and Datadog. My role is to empower the frontend team to ship faster and with
        more confidence. I also maintain several SDKs.
      </li>
      <li>
        <strong><a href="https://trpc.io/">tRPC</a></strong> (35k 🌟) is a tool for
        creating end-to-end typesafe APIs. I occasionally contribute to the codebase,
        but my main focus has been creating educational content and rewriting the
        docs to make them more welcoming and accessible to new users.
      </li>
      <li>
        <strong><a href="https://create.t3.gg/">Create T3 App</a></strong> (25k 🌟)
        is the best way to start a full-stack, typesafe Next.js app with first-class
        DX. As a member of the core team I work on all aspects of the project and
        its future direction.
      </li>
      <li>
        <strong
          ><a href="https://www.moodysanalytics.com/">Moody's Analytics</a>
        </strong> is the leader in the <a
          href="https://en.wikipedia.org/wiki/Know_your_customer">KYC</a
        > space. I shipped features like graph-based RBAC and an end-to-end tool
        for managing i18n, modernised the frontend tech stack, and upskilled other
        developers.
      </li>
    </ul>
    <h2 class="text-4xl">Fun stuff</h2>
    <ul class="flex flex-col gap-4">
      <li>
        <strong
          ><a href="https://github.com/c-ehrlich/interpreter">Interpreter</a
          ></strong
        > started from <a href="https://interpreterbook.com/"
          >Thorsten Ball's book</a
        >, but then I took it further to get to a real(-ish) language that has
        enough features to allow writing real(-ish) applications.
      </li>
      <li>
        <strong><a href="https://catmash.c-ehrlich.dev/">Catmash</a></strong> is
        a game where you and your friends can vote on cats. I built this as a fun
        activity for the team meetings at Axiom. It uses the Partykit runtime and
        was included in <a
          href="https://youtu.be/SVD372XDFQQ?si=NwFmRTFXxG1uGKp1&t=47"
          >Sylwia Vargas' presentation at NextConf</a
        >. <strong>UPDATE:</strong> The database, which was hosted on the free tier
        of a service that shall not be named, was unfortunately taken down without
        warning. I'll spin this back up one of these days.
      </li>
      <li>
        <strong
          ><a href="https://github.com/c-ehrlich/bad-web-tools">Bad Web Tools</a
          >
        </strong> is a from-first-principles toolchain for building web apps. The
        goal is to build everything from scratch, to learn about how the real stuff
        works. So far I've built a React-like rendering framework with concurrent
        rendering / reconciliation and a Babel plugin for parsing a subset of JSX.
        Future ideas include a router, data fetching / network state library, bundler,
        test runner, package manager, monorepo tooling, etc.
      </li>
      <li>
        I completed <strong
          ><a href="https://github.com/c-ehrlich/aoc">Advent of Code</a>
        </strong> in 2022. Not sure yet if I'll do it in 2023.
      </li>
      <li>
        <strong
          ><a href="https://vocab.c-ehrlich.dev/">Vocab Learn Order</a>
        </strong> is a tool that helps language learners determine which words to
        learn. Initially created for myself to help me pass the <a
          href="https://www.jlpt.jp/e/about/levelsummary.html">JLPT N1</a
        >
        with significantly fewer hours spent than most learners, it is now used by
        dozens of language learners every day.
      </li>
    </ul>
  </main>
</Layout>
