---
import SubpagesLayout from "../layouts/subpages-layout.astro";
---

<SubpagesLayout>
  <main>
    <section class="py-2">
      <h2 class="mb-4 text-4xl">Work</h2>
      <ul class="flex flex-col gap-4">
        <li>
          <strong><a href="https://www.axiom.co/">Axiom</a></strong> is a next-generation
          observability platform at a fraction of the cost of competitors like Splunk
          and Datadog. My role is to empower the frontend team to ship faster and
          with more confidence.
        </li>

        <li>
          <strong><a href="https://create.t3.gg">Create T3 App</a></strong> (20k
          🌟) is the best way to start a full-stack, typesafe Next.js app with first-class
          DX. As a member of the core team I work on all aspects of the project and
          its future direction.
        </li>

        <li>
          <strong><a href="https://trpc.io/">tRPC</a></strong> (30k 🌟) is a tool
          for creating end-to-end typesafe APIs. I have contributed to the codebase,
          but my main focus has been rewriting the docs to make them more welcoming
          and accessible to new users.
        </li>

        <li>
          <strong
            ><a href="https://www.moodysanalytics.com/">Moody's Analytics</a>
          </strong> is the leader in the
          <a href="https://en.wikipedia.org/wiki/Know_your_customer">KYC</a> space.
          I shipped features that covered a sprawling codebase, upgraded the frontend
          tech stack, and upskilled other developers.
        </li>
      </ul>
    </section>

    <section class="py-2">
      <h2 class="mb-4 text-4xl">Fun stuff</h2>
      <ul class="flex flex-col gap-4">
        <li>
          <strong><a href="https://catmash.c-ehrlich.dev/">Catmash</a></strong> is
          a game where you and your friends can vote on cats. I built this as a fun
          activity for the team meetings at Axiom. It uses the Partykit runtime and
          was included in <a
            href="https://youtu.be/SVD372XDFQQ?si=NwFmRTFXxG1uGKp1&t=47"
            >Sylwia Vargas' presentation at NextConf</a
          >.
        </li>
        <li>
          <strong
            ><a href="https://vocab.c-ehrlich.dev/">Vocab Learn Order</a>
          </strong> is a tool that helps language learners determine which words
          to learn. Initially created for myself to help me pass the <a
            href="https://www.jlpt.jp/e/about/levelsummary.html">JLPT N1</a
          > with significantly fewer hours spent than most learners, it is now used
          by dozens of language learners every day.
        </li>
      </ul>
    </section>
  </main>
</SubpagesLayout>
