---
import { getCollection } from "astro:content";
import PostList from "../components/content/PostList.astro";
import SubpagesLayout from "../layouts/subpages-layout.astro";

const postsUnsorted = await getCollection("blog");
const posts = postsUnsorted.sort(
  (a, b) => b.data.published.getTime() - a.data.published.getTime(),
);
---

<SubpagesLayout title="Blog">
  <main class="flex flex-col gap-4">
    <div>
      <h2 class="text-4xl">Content</h2>
      <a href="/content/tags">View all tags</a> • <a href="/content/rss.xml"
        >RSS Feed</a
      >
    </div>
    <PostList posts={posts} />
  </main>
</SubpagesLayout>
