---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact - Christopher Ehrlich">
  <main>
    <h2 class="mb-4 text-4xl">👋 You can contact me at:</h2>
    <ul class="flex flex-col gap-2">
      <li><a href="mailto:ehrlich.christopher@gmail.com">Email</a></li>
      <li><a href="https://github.com/c-ehrlich">GitHub</a></li>
      <li><a href="https://twitter.com/ccccjjjjeeee">Twitter</a></li>
      <li class="flex items-start">
        <div class="group relative flex flex-col items-start text-link">
          Discord: cje#1138
          <div
            class="absolute bottom-2 left-5 mb-4 hidden flex-col items-center group-hover:flex"
          >
            <div
              class="whitespace-no-wrap relative z-10 flex flex-col gap-2 rounded-md bg-gray-700 p-4 text-sm leading-none text-white shadow-lg"
            >
              <div>DMs ➜</div>
              <div>Friends ➜</div>
              <div>Add Friend</div>
            </div>
            <div class="-mt-2 h-3 w-3 rotate-45 bg-gray-700"></div>
          </div>
        </div>
      </li>
    </ul>
  </main>
</Layout>
