---
import { getCollection } from "astro:content";
import PostList from "../components/content/PostList.astro";
import Layout from "../layouts/Layout.astro";

const postsUnsorted = await getCollection("content");
const posts = postsUnsorted.sort(
  (a, b) => b.data.published.getTime() - a.data.published.getTime(),
);
---

<Layout title="Content">
  <main class="flex flex-col gap-4">
    <div>
      <h2 class="text-4xl">Blog</h2>
      <a href="/blog/tags">View all tags</a> • <a href="/blog/rss.xml"
        >RSS Feed</a
      >
    </div>
    <PostList posts={posts} />
  </main>
</Layout>
