---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex flex-col gap-4">
    <p>
      If you are organizing a conference or meetup, I'd be happy to give a talk!
    </p>
    <p>
      <a href="blog/category/talk">Here are some talks I have given</a>. We
      can also discuss ideas for a new talk that makes sense given your
      conference and the other speakers. I always have a document full of talk
      ideas ready to go.
    </p>
    <p>I would expect my travel and accommodation to be covered.</p>
    <p>
      If you're interested, please <a href="/contact">reach out to me</a>.
    </p>
  </div>
</Layout>
