---
import SubpagesLayout from "../layouts/subpages-layout.astro";
---

<SubpagesLayout>
  <main class="bg-info flex flex-col gap-4">
    <h1 class="font-serif text-3xl font-semibold text-text">
      Christopher Ehrlich
    </h1>
    <p>
      I'm particularly interested in pushing DX to a new level, empowering
      developers to create high quality apps and love their tooling instead of
      having to fight it. I'm on the core team of <a
        href="https://create.t3.gg/">Create T3 App</a
      >, and also frequently contribute to other projects such as <a
        href="https://trpc.io/">tRPC</a
      >.
    </p><p>
      I care strongly about improving documentation, and I have also begun
      creating educational content for these and other projects on both <a
        href="https://www.youtube.com/@ccccjjjjeeee">YouTube</a
      > and written mediums.
    </p>
    <p>
      Outside of dev stuff, I like creating tools, teaching, language learning,
      and clothesmaking.
    </p>
    <p>
      I currently work for <a href="https://axiom.co/">Axiom</a>. Before doing
      dev professionally, I graduated from <a
        href="https://www.arts.ac.uk/colleges/central-saint-martins"
        >Central Saint Martins</a
      >, worked for designers such as <a href="https://www.aitorthroup.com/"
        >Aitor Throup</a
      > and <a href="https://www.janjanvanessche.com/">Jan-Jan van Essche</a>,
      and then became a lecturer at the
      <a href="https://kunstuni-linz.at/"
        >University of Art and Design in Linz</a
      >.
    </p>
  </main>
</SubpagesLayout>
