---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Christopher Ehrlich">
  <main class="bg-info">
    <h1 class="text-3xl">A quick intro</h1>
    <p>
      After Graduating from Central St Martins I worked for designers such as
      Aitor Throup and Jan-Jan van Essche, and then became a lecturer at the
      University of Art and Design in Linz.
    </p>
    <p>
      During the Coronavirus pandemic I rediscovered my childhood interest in
      programming, and started teaching myself Full Stack development.
    </p>
    <p>I currently work for Moody's Analytics.</p>
    <p>
      Outside of work, I am passionate about creating tools, teaching, language
      learning, and clothesmaking.
    </p>
  </main>
</Layout>
