---
import Layout from "../layouts/Layout.astro";
import LandingContent from "../content/generated/landing-readme.md";
---

<Layout>
  <main class="bg-info">
    <article>
      <LandingContent />
    </article>
  </main>
</Layout>
