---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-info flex flex-col gap-4">
    <h1 class="text-4xl">A quick intro</h1>
    <p>
      After Graduating from Central St Martins I worked for designers such as
      Aitor Throup and Jan-Jan van Essche, and then became a lecturer at the
      <a href="https://kunstuni-linz.at/"
        >University of Art and Design in Linz</a
      >.
    </p>
    <p>
      During the Coronavirus pandemic I decided to turn programming, which had
      been a hobby since childhood, into my career. I currently work for <a
        href="https://www.moodysanalytics.com/">Moody's Analytics.</a
      >
    </p>
    <p>
      I'm particularly interested in devtools and DX, and making it easier to
      create high quality apps. I'm on the core team of <a
        href="https://create.t3.gg/">Create T3 App</a
      >, and also frequently contribute to other projects such as <a
        href="https://trpc.io/">tRPC</a
      >. I have also begun creating educational content for these and other
      projects.
    </p>
    <p>
      Outside of dev stuff, I am passionate about creating tools, teaching,
      language learning, and clothesmaking.
    </p>
  </main>
</Layout>
