---
import Layout from "../layouts/Layout.astro";

// get projects from markdown collection
// include ct3a!
---

<Layout title="Projects - Christopher Ehrlich">
  <main>
    <h2>Projects</h2>
    <ul></ul>
  </main>
</Layout>
