<ul class="flex list-none items-center gap-4 font-bold uppercase sm:text-lg">
  <li><a href="/code">Code</a></li>
  <li><a href="/content">Content</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
