<ul class="flex list-none items-center gap-4 font-bold uppercase">
  <!-- <li><a href="/work">Work</a></li> -->
  <li><a href="/content">Content</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>
