---
import { Image } from "@astrojs/image/components";
import { ThemeToggle } from "../components/ThemeToggle";
import ThemeToggleInline from "../components/ThemeToggleInline.astro";
import avatar from "../media/avatar.jpg";
import "../styles/global.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ThemeToggleInline />
  </head>
  <body
    class="flex min-h-screen flex-col gap-4 bg-background p-4 text-text transition-all duration-300"
  >
    <div class="flex w-full justify-between">
      <Image
        class="rounded-full w-[100px] h-[100px]"
        src={avatar}
        alt="Christopher Ehrlich Avatar"
        width={200}
        height={200}
        quality={70}
      />
      <ThemeToggle client:only="solid-js" />
    </div>
    <h1 class="text-text">Hi, I'm Christopher</h1>
    <ul class="flex list-none gap-2">
      <li class="hover:underline"><a href="/">Home</a></li>
      <li class="hover:underline"><a href="/work">Work</a></li>
      <li class="hover:underline"><a href="/blog">Blog</a></li>
      <li class="hover:underline"><a href="/contact">Contact</a></li>
    </ul>
    <slot />
  </body>
</html>
