---
import { ThemeToggle } from "../components/ThemeToggle";
import SharedLayout from "./shared-layout.astro";
import HeaderLinks from "../components/header-links.astro";
import Avatar from "../components/Avatar.astro";
---

<SharedLayout>
  <div class="flex w-full flex-col items-center justify-center gap-4">
    <div class="flex w-full justify-between">
      <Avatar pxSize={40} />
      <HeaderLinks />
      <ThemeToggle client:only="solid-js" transition:persist />
    </div>

    <div class="w-full max-w-4xl">
      <slot />
    </div>
  </div>
</SharedLayout>
